<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Complete Registration</title>
  </head>
  <body>
    <h1>Welcome to Online Grocery</h1>
    <p>Welcome to Online Grocery! Please complete your registration by clicking
      this
      <a href="{{link}}">link</a></p>
  </body>
</html>